.page-success {
    .row-login {
        min-height: 70vh;
    }

    .section-success {
        h2 {
            font-size: 28px;
            color: #0c0d36;
            font-weight: 200;
            margin-top: 20px;
        }
    }

    .btn-signup {

        @include button-variant(#f3f3f3, transparent);
        color: #bbbbbb;
    }

}